body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black; 
    font-family: 'Handlee', cursive;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Handlee', cursive;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div.container.body-content div.jumbotron {
    background-image: url('images/wardrobe.jpeg');
    background-size: cover;
    font-family: 'Handlee', cursive;
}

div.jumbotron#jumbotronOutfits {
    background-color: white;
    color: black;
}

div.row div.caption div.thumbnail  div.topsPhoto {
    height: 150px;
    width:100px;
}
